<%- include("./partials/head", {pageTitle: "Inicio" , stylesheet: "index.css" }) %>

    <%- include("./partials/header") %>
        <main>
            <div id="carrusel-contenido">
                <div id="carrusel-caja">
                    <div class="carrusel-elemento">
                        <img class="imagenes" src="images/carrusel1.png">
                    </div>
                    <div class="carrusel-elemento">
                        <img class="imagenes" src="images/carrusel2.png">
                    </div>
                    <div class="carrusel-elemento">
                        <img class="imagenes" src="images/carrusel3.png">
                    </div>
                </div>
            </div>
            <h2 class="tituloSeccion">Prestá atención a nuestra promociones de este mes!</h2>
            <section class="promociones">
                <% products.forEach( product=> { %>
                    <a href="products/detail/<%= product.id %>">
                        <div class="articulo">
                            <p class="nombre">
                                <%= product.nombre %>
                            </p>
                            <p class="imagenArticulo"><img src="/images/<%= product.imagen %>" alt="prenda1"></p>
                            <p class="descripcion">
                                <%= product.descripcion %>
                            </p>
                            <p class="precio">$<%= product.precio %>
                            </p>
                        </div>
                    </a>
                    <%}) %>

            </section>
        </main>

        <%- include("./partials/footer") %>