<%- include("./partials/head", {pageTitle: "Formulario Producto" , stylesheet: "productForm.css" }) %>


    <%- include("partials/header",{logueado: logueado})%>
        <script src="/js/productForm.js" defer></script>

        <div class="contenedorGeneral">
            <form action="/products" method="post" enctype="multipart/form-data">
                <div class="createProduct">
                    <div class="titleForm">
                        <div class="imageForm">
                            <img src="" alt="">
                            <label>EDITÁ TU PRODUCTO</label>
                        </div>
                    </div>
                    <div class="nameproduct">
                        <label for="nameproduct">Nombre Del Producto</label>
                        <input type="text" name="nameproduct" id="nameproduct" value="<%= product.nombre %> " required>
                    </div>
                    <div class="imageinput">
                        <label for="imageinput">Imagen del Producto</label>
                        <button type="button" class="iconImageInput" id="botonimagen"> <i
                                class="fa-solid fa-camera"></i></button>
                        <input type="file" name="imageInput" id="imageinput" accept="image/*" multiple required>

                    </div>
                    <div class="priceForm">
                        <p class="precio">Precio</p>
                        <input type="number" name="priceForm" id="priceForm" value="$<%= product.precio %>" required>
                    </div>
                    <div class=" category">
                        <p type="text" name="category" id="category" placeholder="Categoria del producto">Categoria</p>
                        <select>
                            <option value="hombre">Hombre</option>
                            <option value="mujer">Mujer</option>
                            <option value="unisex">Unisex</option>
                        </select>
                    </div>
                    <div class="subcategory">
                        <p type="text" name="subcategory" id="subcategory" placeholder="Subcategoria del producto">
                            Subcategoria</p>
                        <select>
                            <option value="remera">Remera</option>
                            <option value="pantalon">Pantalón</option>
                            <option value="zapatillas">Zapatillas</option>
                        </select>
                    </div>
                    <div class="condicion" required>
                        <input type="radio" name="condicion" value="nuevo">NUEVO
                        <input type="radio" name="condicion" value="usado">USADO
                    </div>
                    <div class="talle" required>
                        <input type="checkbox" name="talle" id="S" value="S">S
                        <input type="checkbox" name="talle" id="M" value="M">M
                        <input type="checkbox" name="talle" id="L" value="L">L
                        <input type="checkbox" name="talle" id="XL" value="XL">XL
                        <input type="checkbox" name="talle" id="XXL" value="XXL">XXL

                    </div>
                    <div class="colorForm">
                        <input type="text" name="colorForm" id="colorForm" placeholder="Color del producto" required>
                    </div>
                    <br>
                    <div class="descrip">
                        <textarea name="cajaTexto" id="cajaTexto" cols="30" rows="10"
                            placeholder="Descripción..."></textarea>
                    </div>
                    <div class="enviar-limpiar">
                        <button class=“botonEnviar” type="submit" value="ENVIAR">ENVIAR</button>
                        <br>
                        <button class=“botonLimpiar” type="reset" value="LIMPIAR">LIMPIAR</button>
                    </div>


                </div>

            </form>
        </div>
        <%- include("./partials/footer") %>