<%- include("../partials/head", {pageTitle: "Registrarme", stylesheet: "register.css"}) %>

<% if(typeof(errors) != 'undefined'){%>
    <ul class="alert alert-danger">
       <% errors.forEach(error => { %>
          <li><%= error.msg%></li>
       <%});%>
     </ul>
 <%}%>      
    <header>
        
        <p class="barrasMenu"><i class="fas fa-bars"></i></p>
        <a href="/">
            <img class="logo" src="images/logoConTitulo.png" height="45px">
        </a>
    </header>

    <div class="contenedor-logo">
        <a href="/">
            <img class="logo2" src="/images/isologoNaranja.png">
        </a>
    </div>
    
    
    <form action="/users/edit" method="POST" enctype="multipart/form-data">

        <div class="titulo">
            <h2>EDITA TU PERFIL</h2>
        </div>

        <div class="campo-form">
            <label>Nombre</label>
            <input type="text" name="firstName" value="<%= typeof user != 'undefined' ? user.firstName : '' %>"> 
        </div>
            
        </div>

        <div class="campo-form">
            <label>Apellido</label>
            <input type="text" name="lastName" value="<%= typeof user != 'undefined' ? user.lastName : '' %>" required>
        </div>

        
        <div class="campo-form">
            <div class="radio-buttons">
                <div>
                    <label>Comprador</label>
                    <input type="radio" name="type" value="1"required>
                </div>
                <div>
                    <label>Vendedor</label>
                    <input type="radio" name="type" value="2" required>
                </div>
            </div>
        </div>

        <div class="campo-form">
            <label>Foto de perfil</label>
            <input class="imagen-input"  type="file" name="avatar" value="<%= typeof user != 'undefined' ? user.avatar : '' %>"> 
             <!-- <img class="perfil-img" src="/images/users/<%= user.avatar %> " alt=""> -->

        </div>

        <div class="caja-boton">
            <button type="submit">ACTUALIZAR DATOS</button>
        </div>
    </form>


</body>

</html>