<%- include("../partials/head", {pageTitle: "Ingresar", stylesheet: "products.css"}) %>


<%- include("../partials/header", {logueado: true, tipo: 2}) %>
<!--comenzar a codear-->
  <div class="contenedor" >
  <%  products.forEach(product => { %>

    <div class="product1">
<h2><%=product.name %> </h2><br>
  <img src="/images/<%= product.image %> " alt="">
      <div class="info-podruct">

        <div class="descrition"><%=product.description%></div>
        <div class="price">$<%= product.price %></div>
        </div>
        </div>
   <% }) %> 
  </div>

    
   
   
   
   
   
   
   
   <!--finalizar-->
   <%- include("../partials/footer") %>
