<%- include("../partials/head", {pageTitle: "Formulario Producto" , stylesheet: "perfil.css" }) %>


    <%- include("../partials/header", {logueado: user})%>

    <h1 class="tituloPerfil">Mi perfil</h1>

    <div class="contenedorPerfil">

        <div>Nombre: <%= user.firstName %> </div>
        <div>Apellido: <%= user.lastName %></div>
        <div>Email: <%= user.email %></div>
        <%if(user.typeId == 1){  %> 
            <div>Tipo: Comprador</div>
        <% } %>
        
        <%if(user.typeId == 2){  %> 
            <div>Tipo: Vendedor</div>
        <% } %>

        <br>

        <img src="/images/users/<%= user.avatar %> " alt="" height="64" width="96">
        
        <div>
        <form action="/users/login?_method=DELETE" method="POST">
            <button>Desloguearte</button>
        </form>

        <a href="/users/edit"><button>Editar perfil</button></a>
        </div>
    
    </div>

    <%- include("../partials/footer") %>
