<%- include("../partials/head", {pageTitle: "Registrarme", stylesheet: "register.css"}) %>

<% if(typeof(errors) != 'undefined'){%>
    <ul class="alert alert-danger">
       <% errors.forEach(error => { %>
          <li><%= error.msg%></li>
       <%});%>
     </ul>
 <%}%>      
    <header>
        
        <p class="barrasMenu"><i class="fas fa-bars"></i></p>
        <a href="/">
            <img class="logo" src="images/logoConTitulo.png" height="45px">
        </a>
    </header>

    <div class="contenedor-logo">
        <a href="/">
            <img class="logo2" src="/images/isologoNaranja.png">
        </a>
    </div>
    
    
    <form action="/users/register" method="POST" enctype="multipart/form-data">

        <div class="titulo">
            <h2>COMPLETA TUS DATOS</h2>
        </div>

        <div class="campo-form">
            <label>Nombre</label>
            <input type="text" name="firstName" id="firstName" value="<%= typeof old != 'undefined' ? old.firstName : '' %>">
            <div class="error" id="name-error"></div>
        </div>
            
        </div>

        <div class="campo-form">
            <label>Apellido</label>
            <input type="text" name="lastName" id="lastName" value="<%= typeof old != 'undefined' ? old.LastName : '' %>" required>
            <div id="lastName-error" class="error"></div>
        </div>
        
        <div class="campo-form">
            <label>Email</label>
            <input type="email" name="email" value="<%= typeof old != 'undefined' ? old.email : '' %>" required>
        </div>
        <div class="campo-form">
            <div class="radio-buttons">
                <div>
                    <label>Comprador</label>
                    <input type="radio" name="type" value="1"required>
                </div>
                <div>
                    <label>Vendedor</label>
                    <input type="radio" name="type" value="2" required>
                </div>
            </div>
        </div>

        <div class="campo-form">
            <label>Agrega una foto</label>
            <input class="imagen-input" type="file" name="avatar">
        </div>

        <div class="campo-form">
            <label>Contraseña</label>
            <input type="password" name="password" required>
        </div>

        <div class="caja-boton">
            <button type="submit">CREA TU CUENTA</button>
        </div>
    </form>
    <script>
        
        window.addEventListener('load', function() {

   
 


// Nombre
const nameField = document.querySelector("#firstName");
const nameError = document.querySelector("#name-error");

nameField.addEventListener("blur", function() {
    if (nameField.value.length < 2) {
        nameError.innerHTML = "El nombre debe tener 2 caracteres minimo";
    } else {
        nameError.innerHTML = "";
    }
});

// Apellido
const lastNameField = document.querySelector("#lastName");
const lastNameError = document.querySelector("#lastName-error");

lastNameField.addEventListener("blur", function() {
if (lastNameField.value.length < 2) {
lastNameError.innerHTML = "El apellido debe tener 2 caracteres minimo";
} else {
lastNameError.innerHTML = "";
}
});

// Email


// Contraseña


// Imagen
function validarImagen() {
    var imagen = document.getElementById("imagen").files[0];
    var tiposPermitidos = ["image/jpeg", "image/jpg", "image/png", "image/gif"];
    
    if (!tiposPermitidos.includes(imagen.type)) {
      alert("Solo se permiten imágenes en formato jpeg, jpg, png o gif.");
    }
  }
});
    </script>

</body>

</html>